.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}


.opcode {
  border-bottom: 1px solid;
  align-items: center;
  height: 60px;
}

.discription{
  background-color: rgb(238 242 255);
}

.box_item{
  /* width: 10px; */
  border: 1.7px solid skyblue;
  float: left;
  margin-left: 10px;
  margin-bottom: 8px;
  text-align: center;
  padding: 0px 5px;
}

.title{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;
}

.copyright{
    font-size: 12px;
    color: lightslategray;
}

th{
    padding: 10px 30px 10px 0px;
}

.KR{
    display: none;
}
.content{
    padding: 10px 0px;
}

.inner-table, .inner-head, .inner-td { border: 1px solid black; border-collapse: collapse }
