{% extends "base.html" %}

{#{% block content %}#}
{#    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">#}
{#{% endblock %}#}

{% block content %}
    <div class="container mt-5">
        <!-- <h1 class="mb-3">Solidity Vulnerability Analyzer</h1> -->

        {% for message in get_flashed_messages() %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}

        <p>분석 방법 선택</p>

        <form action="/" method="POST" enctype="multipart/form-data" id="myForm">

            <select name="mode" id="mode">
                <option value="analyze"> analyze
                <option value="disassemble"> disassemble
                <option value="safefunction"> safe function
            </select>

            <div class="mb-3">
                <label for="file" class="form-label">Upload a Solidity file:</label>
                <input type="file" name="file" class="form-control" id="file">
            </div>

            <div class="mb-3">
                <label for="code" class="form-label">Or enter Solidity code:</label>
                <textarea name="code" id="code" rows="10"
                          class="form-control">{{ request.form.get('code', '') }}</textarea>
            </div>

            <button type="submit" class="btn btn-primary">Analyze</button>
        </form>

        <div class="spinner-border text-primary" role="status" id="spinner">
            <span class="visually-hidden">Loading...</span>
        </div>

        {% if mythril_output %}
            <div class="mythril-output mt-4">
                <h2>Mythril Analysis Results:</h2>
                {% for issue in mythril_json["issues"] %}
                    <div class = "result">
                        <strong>Title:</strong> {{ issue["title"] }}<br>
                        <strong>SWC-ID:</strong> {{ issue["swc-id"] }}<br>
                        <strong>Description:</strong> {{ issue["description"] }}<br>
                        <strong>Severity:</strong> {{ issue["severity"] }}<br>
                        <strong>Line number:</strong> {{ issue["lineno"] }}<br>
                        <strong>Contract:</strong> {{ issue["contract"] }}<br>
                        <strong>Function:</strong> {{ issue["function"] }}<br>
                        <strong>Code:</strong> {{ issue["code"] }}<br>
                    </div>
                {% endfor %}
            </div>

        {% endif %}
    </div>

{% endblock %}

{% block js %}
    <script>
        document.getElementById("myForm").addEventListener("submit", function() {
            document.getElementById("spinner").style.display = "block";
        });
    </script>
{% endblock %}