{% extends "base.html" %}

{% block static %}
    <link rel="stylesheet" href="{{ url_for('static', filename='opcodes.css') }}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/4.0.0/github-markdown.min.css">
{% endblock %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/markdown-it@12.3.1/dist/markdown-it.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='opcodes.js') }}"></script>
{% endblock %}

{% block content %}
    <div style="background-color: #F7F7F7; padding-bottom: 100px;">
        <div class="title" style="background-color: white; padding-bottom: 50px;">
            An Ethereum Virtual Machine<br>Opcodes Reference
            <p class="copyright">write by CESCO</p>
        </div>

        <section class="container">
            <div style="margin-bottom: 20px; margin-top: 20px; font-size: 36px; font-weight: bold; ">
                Opcodes list
            </div>

            <table style="table-layout: auto; width: 100%; table-layout: fixed;">
                <thead>
                <tr>
                    <th style="flex-wrap: nowrap; width: 10%;" class="content">
                        OPCODE
                    </th>
                    <th style="flex-wrap: nowrap; width: 10%;" class="content">
                        NAME
                    </th>
                    <th style="flex-wrap: nowrap; width: 10%;" class="content">
                        MINIMUM GAS
                    </th>
                    <th style="flex-wrap: nowrap; width: 30%;" class="content">
                        STACK INPUT
                    </th>
                    <th style="flex-wrap: nowrap; width: 20%;" class="content">
                        STACK OUTPUT
                    </th>
                    <th style="flex-wrap: nowrap; width: 20%;" class="content">
                        DESCRIPTION
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for row_data in table_data %}
                    <tr onclick="toggleRow(this, '{{ table_data[row_data]['markdown'] }}')" class="opcode">
                        <td>
                            <div style="flex-wrap: nowrap" class="content">
                                {{ row_data.upper() }}
                            </div>
                        </td>
                        <td>
                            <div style="flex-wrap: nowrap" class="content">
                                {{ table_data[row_data]["name"] }}
                            </div>
                        </td>
                        <td>
                            <div style="flex-wrap: nowrap" class="content">
                                {{ table_data[row_data]["minimum_gas"] }}
                            </div>
                        </td>
                        <td>
                            <div style="flex-wrap: nowrap" class="content">
                                {% if table_data[row_data]["input"] %}
                                    {% for data in table_data[row_data]["input"].split("|") %}
                                        <div class="box_item">
                                            {{ data }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </td>
                        <td>
                            <div style="flex-wrap: nowrap" class="content">
                                {% if table_data[row_data]["output"] %}
                                    {% for data in table_data[row_data]["output"].split("|") %}
                                        <div class="box_item">
                                            {{ data }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </td>
                        <td>
                            {{ table_data[row_data]["description"] }}
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </section>
    </div>

{% endblock %}