{% extends "swc_base.html" %}

{% block swc_static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/highlightjs-solidity@1.0.1/solidity.min.js"></script>
{% endblock %}

{% block swc_content %}
    <div>
        {{ swc_description|safe }}
        <pre><code class="language-solidity">{{ code }}</code></pre>
    </div>
{% endblock %}

{% block swc_js %}
    <script>
        hljs.registerLanguage('solidity', window.hljsDefineSolidity);
        hljs.highlightAll();
    </script>
{% endblock %}